<a href="https://colab.research.google.com/github/JhoanVillaNO/proyectoKaggle/blob/main/02_preprocesado.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
import os
os.environ['KAGGLE_CONFIG_DIR'] = '.'
!chmod 600 ./kaggle.json
!kaggle competitions download -c udea-ai-4-eng-20252-pruebas-saber-pro-colombia

Downloading udea-ai-4-eng-20252-pruebas-saber-pro-colombia.zip to /content
  0% 0.00/29.9M [00:00<?, ?B/s]
100% 29.9M/29.9M [00:00<00:00, 1.34GB/s]

In [6]:
!unzip udea*.zip > /dev/null

replace train.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: y

In [7]:
import pandas as pd
df = pd.read_csv("train.csv")
df.info()
df.shape

/tmp/ipython-input-456418653.py:2: DtypeWarning: Columns (0,3,4,5,6,7,8,9,10,11,12,13,14,15,16) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("train.csv")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1243902 entries, 0 to 1243901
Data columns (total 21 columns):
 #   Column                       Non-Null Count    Dtype
---  ------                       --------------    -----
 0   ID                           1243902 non-null  object
 1   PERIODO_ACADEMICO            1243902 non-null  float64
 2   E_PRGM_ACADEMICO             1243901 non-null  object
 3   E_PRGM_DEPARTAMENTO          1243900 non-null  object
 4   E_VALORMATRICULAUNIVERSIDAD  686213 non-null   object
 5   E_HORASSEMANATRABAJA         661643 non-null   object
 6   F_ESTRATOVIVIENDA            660363 non-null   object
 7   F_TIENEINTERNET              665871 non-null   object
 8   F_EDUCACIONPADRE             669322 non-null   object
 9   F_TIENELAVADORA              652727 non-null   object
 10  F_TIENEAUTOMOVIL             648877 non-null   object
 11  E_PRIVADO_LIBERTAD           692500 non-null   object
 12  E_PAGOMATRICULAPROPIO        686002 non-null   object
 13  F_TIENECOMPUTADOR            654397 non-null   object
 14  F_TIENEINTERNET.1            665871 non-null   object
 15  F_EDUCACIONMADRE             668836 non-null   object
 16  RENDIMIENTO_GLOBAL           692500 non-null   object
 17  INDICADOR_1                  692500 non-null   float64
 18  INDICADOR_2                  692500 non-null   float64
 19  INDICADOR_3                  692500 non-null   float64
 20  INDICADOR_4                  692500 non-null   float64
dtypes: float64(5), object(16)
memory usage: 199.3+ MB

(1243902, 21)

In [8]:
import numpy as np

z = pd.read_csv("train.csv")
print ("shape of loaded dataframe", z.shape)

/tmp/ipython-input-4280920550.py:3: DtypeWarning: Columns (0,3,4,5,6,7,8,9,10,11,12,13,14,15,16) have mixed types. Specify dtype option on import or set low_memory=False.
  z = pd.read_csv("train.csv")

shape of loaded dataframe (2051453, 21)

In [10]:
df.head(10)

,ID,PERIODO_ACADEMICO,E_PRGM_ACADEMICO,E_PRGM_DEPARTAMENTO,E_VALORMATRICULAUNIVERSIDAD,E_HORASSEMANATRABAJA,F_ESTRATOVIVIENDA,F_TIENEINTERNET,F_EDUCACIONPADRE,F_TIENELAVADORA,...,E_PRIVADO_LIBERTAD,E_PAGOMATRICULAPROPIO,F_TIENECOMPUTADOR,F_TIENEINTERNET.1,F_EDUCACIONMADRE,RENDIMIENTO_GLOBAL,INDICADOR_1,INDICADOR_2,INDICADOR_3,INDICADOR_4
0,904256,20212.0,ENFERMERIA,BOGOTÁ,Entre 5.5 millones y menos de 7 millones,Menos de 10 horas,Estrato 3,Si,Técnica o tecnológica incompleta,Si,...,N,No,Si,Si,Postgrado,medio-alto,0.322,0.208,0.310,0.267
1,645256,20212.0,DERECHO,ATLANTICO,Entre 2.5 millones y menos de 4 millones,0,Estrato 3,No,Técnica o tecnológica completa,Si,...,N,No,Si,No,Técnica o tecnológica incompleta,bajo,0.311,0.215,0.292,0.264
2,308367,20203.0,MERCADEO Y PUBLICIDAD,BOGOTÁ,Entre 2.5 millones y menos de 4 millones,Más de 30 horas,Estrato 3,Si,Secundaria (Bachillerato) completa,Si,...,N,No,No,Si,Secundaria (Bachillerato) completa,bajo,0.297,0.214,0.305,0.264
3,470353,20195.0,ADMINISTRACION DE EMPRESAS,SANTANDER,Entre 4 millones y menos de 5.5 millones,0,Estrato 4,Si,No sabe,Si,...,N,No,Si,Si,Secundaria (Bachillerato) completa,alto,0.485,0.172,0.252,0.190
4,989032,20212.0,PSICOLOGIA,ANTIOQUIA,Entre 2.5 millones y menos de 4 millones,Entre 21 y 30 horas,Estrato 3,Si,Primaria completa,Si,...,N,No,Si,Si,Primaria completa,medio-bajo,0.316,0.232,0.285,0.294
5,659872,20203.0,MEDICINA VETERINARIA,ANTIOQUIA,Más de 7 millones,Menos de 10 horas,Estrato 5,Si,Educación profesional completa,Si,...,N,No,Si,Si,Secundaria (Bachillerato) completa,medio-alto,0.553,0.142,0.248,0.175
6,47159,20183.0,INGENIERIA MECANICA,HUILA,Entre 2.5 millones y menos de 4 millones,Entre 21 y 30 horas,Estrato 2,Si,Educación profesional incompleta,Si,...,N,Si,Si,Si,Técnica o tecnológica completa,alto,0.242,0.299,0.267,0.308
7,11829,20183.0,ADMINISTRACIÓN EN SALUD OCUPACIONAL,BOGOTÁ,Entre 1 millón y menos de 2.5 millones,Entre 11 y 20 horas,Estrato 2,Si,Primaria incompleta,Si,...,N,Si,No,Si,Secundaria (Bachillerato) incompleta,medio-bajo,0.238,0.316,0.286,0.290
8,257869,20212.0,INGENIERIA INDUSTRIAL,ATLANTICO,Entre 5.5 millones y menos de 7 millones,Menos de 10 horas,Estrato 1,Si,Secundaria (Bachillerato) completa,Si,...,N,Si,Si,Si,Educación profesional incompleta,medio-bajo,0.147,0.407,0.212,0.328
9,465511,20183.0,ADMINISTRACION DE EMPRESAS,ANTIOQUIA,Entre 2.5 millones y menos de 4 millones,Más de 30 horas,Estrato 5,Si,Postgrado,Si,...,N,Si,Si,Si,Postgrado,alto,0.535,0.122,0.257,0.167

# Rellenar valores null en la columna

Primero verificamos los valores null

In [12]:
print(df.isnull().sum()) # Verificacion numerica de valores null en toda la tabla

df[df["F_ESTRATOVIVIENDA"].isnull()] # verificacion en tabla de valores null FAMI_ESTRATOVIVIENDA

ID                                  0
PERIODO_ACADEMICO                   0
E_PRGM_ACADEMICO                    1
E_PRGM_DEPARTAMENTO                 2
E_VALORMATRICULAUNIVERSIDAD    557689
E_HORASSEMANATRABAJA           582259
F_ESTRATOVIVIENDA              583539
F_TIENEINTERNET                578031
F_EDUCACIONPADRE               574580
F_TIENELAVADORA                591175
F_TIENEAUTOMOVIL               595025
E_PRIVADO_LIBERTAD             551402
E_PAGOMATRICULAPROPIO          557900
F_TIENECOMPUTADOR              589505
F_TIENEINTERNET.1              578031
F_EDUCACIONMADRE               575066
RENDIMIENTO_GLOBAL             551402
INDICADOR_1                    551402
INDICADOR_2                    551402
INDICADOR_3                    551402
INDICADOR_4                    551402
dtype: int64

,ID,PERIODO_ACADEMICO,E_PRGM_ACADEMICO,E_PRGM_DEPARTAMENTO,E_VALORMATRICULAUNIVERSIDAD,E_HORASSEMANATRABAJA,F_ESTRATOVIVIENDA,F_TIENEINTERNET,F_EDUCACIONPADRE,F_TIENELAVADORA,...,E_PRIVADO_LIBERTAD,E_PAGOMATRICULAPROPIO,F_TIENECOMPUTADOR,F_TIENEINTERNET.1,F_EDUCACIONMADRE,RENDIMIENTO_GLOBAL,INDICADOR_1,INDICADOR_2,INDICADOR_3,INDICADOR_4
21,284373,20195.0,INGENIERIA MECATRONICA,VALLE,Entre 5.5 millones y menos de 7 millones,NaN,NaN,NaN,NaN,NaN,...,N,No,NaN,NaN,NaN,medio-bajo,0.029,0.037,0.048,0.026
26,925456,20195.0,DERECHO,BOLIVAR,Entre 2.5 millones y menos de 4 millones,NaN,NaN,NaN,NaN,NaN,...,N,No,NaN,NaN,NaN,medio-bajo,0.017,0.034,0.023,0.023
49,836859,20195.0,LICENCIATURA EN CIENCIAS SOCIALES,BOGOTÁ,Entre 1 millón y menos de 2.5 millones,NaN,NaN,NaN,NaN,NaN,...,N,Si,NaN,NaN,NaN,bajo,0.010,0.015,0.030,0.012
55,663184,20195.0,INGENIERIA CIVIL,TOLIMA,Entre 2.5 millones y menos de 4 millones,Entre 21 y 30 horas,NaN,Si,Técnica o tecnológica incompleta,Si,...,N,No,Si,Si,Secundaria (Bachillerato) incompleta,medio-bajo,0.017,0.048,0.028,0.029
58,629999,20212.0,TRABAJO SOCIAL,VALLE,Entre 1 millón y menos de 2.5 millones,NaN,NaN,NaN,NaN,NaN,...,N,No,NaN,NaN,NaN,bajo,0.007,0.033,0.037,0.048
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1243897,449,0.0,2016-06-15 03:00:00,17.88,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1243898,450,0.0,2016-06-15 03:00:00,112.3,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1243899,451,0.0,2016-06-15 03:00:00,14.8,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1243900,452,0.0,2016-06-15 03:00:00,173.26,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1243901,453,0.0,2016-06-15 03:00:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Se observa que tenemos 32137 valores null para la columna F_ESTRATOVIVIENDA

In [13]:
df["F_ESTRATOVIVIENDA"].unique() #Valores en columna

array(['Estrato 3', 'Estrato 4', 'Estrato 5', 'Estrato 2', 'Estrato 1',
       nan, 'Estrato 6', 'Sin Estrato'], dtype=object)

In [14]:
df['F_ESTRATOVIVIENDA'].head(50)

0     Estrato 3
1     Estrato 3
2     Estrato 3
3     Estrato 4
4     Estrato 3
5     Estrato 5
6     Estrato 2
7     Estrato 2
8     Estrato 1
9     Estrato 5
10    Estrato 1
11    Estrato 2
12    Estrato 3
13    Estrato 1
14    Estrato 3
15    Estrato 3
16    Estrato 1
17    Estrato 2
18    Estrato 1
19    Estrato 2
20    Estrato 2
21          NaN
22    Estrato 1
23    Estrato 2
24    Estrato 2
25    Estrato 3
26          NaN
27    Estrato 3
28    Estrato 3
29    Estrato 2
30    Estrato 2
31    Estrato 3
32    Estrato 2
33    Estrato 3
34    Estrato 4
35    Estrato 3
36    Estrato 4
37    Estrato 2
38    Estrato 2
39    Estrato 2
40    Estrato 4
41    Estrato 3
42    Estrato 2
43    Estrato 1
44    Estrato 2
45    Estrato 3
46    Estrato 2
47    Estrato 3
48    Estrato 3
49          NaN
Name: F_ESTRATOVIVIENDA, dtype: object

Rellenamos los valores null de acuerdo a la moda, ya que es un valor categorico

In [15]:
df['F_ESTRATOVIVIENDA'] = df['F_ESTRATOVIVIENDA'].fillna(df['F_ESTRATOVIVIENDA'].mode()[0]) # Rellenamos los valores null con la moda

df['F_ESTRATOVIVIENDA'].head(50)

0     Estrato 3
1     Estrato 3
2     Estrato 3
3     Estrato 4
4     Estrato 3
5     Estrato 5
6     Estrato 2
7     Estrato 2
8     Estrato 1
9     Estrato 5
10    Estrato 1
11    Estrato 2
12    Estrato 3
13    Estrato 1
14    Estrato 3
15    Estrato 3
16    Estrato 1
17    Estrato 2
18    Estrato 1
19    Estrato 2
20    Estrato 2
21    Estrato 2
22    Estrato 1
23    Estrato 2
24    Estrato 2
25    Estrato 3
26    Estrato 2
27    Estrato 3
28    Estrato 3
29    Estrato 2
30    Estrato 2
31    Estrato 3
32    Estrato 2
33    Estrato 3
34    Estrato 4
35    Estrato 3
36    Estrato 4
37    Estrato 2
38    Estrato 2
39    Estrato 2
40    Estrato 4
41    Estrato 3
42    Estrato 2
43    Estrato 1
44    Estrato 2
45    Estrato 3
46    Estrato 2
47    Estrato 3
48    Estrato 3
49    Estrato 2
Name: F_ESTRATOVIVIENDA, dtype: object

Finalmente podemos observar que en los valores 21 y 49 que anteriormente eran valores null, ahora tienen valores de acuerdo a la moda

In [16]:
print(df.isnull().sum())

ID                                  0
PERIODO_ACADEMICO                   0
E_PRGM_ACADEMICO                    1
E_PRGM_DEPARTAMENTO                 2
E_VALORMATRICULAUNIVERSIDAD    557689
E_HORASSEMANATRABAJA           582259
F_ESTRATOVIVIENDA                   0
F_TIENEINTERNET                578031
F_EDUCACIONPADRE               574580
F_TIENELAVADORA                591175
F_TIENEAUTOMOVIL               595025
E_PRIVADO_LIBERTAD             551402
E_PAGOMATRICULAPROPIO          557900
F_TIENECOMPUTADOR              589505
F_TIENEINTERNET.1              578031
F_EDUCACIONMADRE               575066
RENDIMIENTO_GLOBAL             551402
INDICADOR_1                    551402
INDICADOR_2                    551402
INDICADOR_3                    551402
INDICADOR_4                    551402
dtype: int64

# Codificación Columna F_ESTRATOVIVIENDA (One-Hot Encoding)

In [17]:
df["F_ESTRATOVIVIENDA"].unique() #Valores en columna

array(['Estrato 3', 'Estrato 4', 'Estrato 5', 'Estrato 2', 'Estrato 1',
       'Estrato 6', 'Sin Estrato'], dtype=object)

In [19]:
df["F_ESTRATOVIVIENDA_encoded"] = pd.Categorical(
    df["F_ESTRATOVIVIENDA"],
    categories=["Sin Estrato", "Estrato 1", "Estrato 2", "Estrato 3", "Estrato 4", "Estrato 5", "Estrato 6"],
    ordered=True,
).codes

df[["F_ESTRATOVIVIENDA", "F_ESTRATOVIVIENDA_encoded"]].drop_duplicates().sort_values("F_ESTRATOVIVIENDA_encoded")

    F_ESTRATOVIVIENDA  F_ESTRATOVIVIENDA_encoded
176       Sin Estrato                          0
8           Estrato 1                          1
6           Estrato 2                          2
0           Estrato 3                          3
3           Estrato 4                          4
5           Estrato 5                          5
154         Estrato 6                          6